* {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "Antonio", sans-serif;
    font-family: "Josefin Sans", sans-serif;
  }
  body {
    background-color: rgb(50, 62, 70);
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10px;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
  }
  .navbar {
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .navbar .icon-menu{
    display: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .navbar .logo{
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
  }
  .navbar .logo h2{
  color: white;
    font-size: 1.7rem;
    font-weight: 600;
  }
  .navbar .logo h2:hover {
    cursor: pointer;
    color: transparent;
      -webkit-text-stroke: 1px white;
    transform: scale(110%);
    transition: 0.5s ease-in-out;
  }
  .navbar .links{
    display: flex;
    list-style: none;
    gap: 35px;
  }
  .navbar .links .iconclose{
    display: none;
    color: black;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.5rem;
  }
  .navbar .links a{
    position: relative;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
  }
  .navbar .links a::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform 0.5s;
  }
  .navbar .links a:hover::after {
    transform: scaleX(0.8);
  }
  .navbar .btnLogin-popup{
    border: none;
    outline: none;
    color: #162938;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    background: white;
    }
    .navbar .btnLogin-popup:hover{
        background: transparent;
        color: white;
    }  
.abt {
    width: 45%;
    position: absolute;
    top: 160px;
    left: 20px;
    opacity: 60%;
    border: solid 2px white;
  }
  .abt2 {
    width: 45%;
    position: absolute;
    top: 160px;
    left: 700px;
    opacity: 60%;
    border: solid 2px white;
  }
  .hike {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 300px;
    left: 20px;
    text-align: center;
    width: 600px;
    font-weight: 700;
  }
  .shops {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 500px;
    left: 120px;
    text-align: center;
    width: 400px;
    font-weight: 500;
  }
  .more {
    width: 130px;
    height: 40px;
    background-color: white;
    color: rgb(50, 62, 70);
    position: absolute;
    top: 900px;
    left: 255px;
    border: none;
  }
  .more:hover {
    cursor: pointer;
    background-color: rgb(50, 62, 70);
    color: white;
    border: solid 2px white;
  }
  .xxx {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 300px;
    left: 700px;
    text-align: center;
    width: 600px;
    font-weight: 700;
  }
  .xxxx {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 500px;
    left: 800px;
    text-align: center;
    width: 400px;
    font-weight: 500;
  }
  .lore {
    width: 130px;
    height: 40px;
    background-color: white;
    color: rgb(50, 62, 70);
    position: absolute;
    top: 900px;
    left: 950px;
    border: none;
  }
  .lore:hover {
    cursor: pointer;
    background-color: rgb(50, 62, 70);
    color: white;
    border: solid 2px white;
  }
  .xox {
    width: 100%;
    height: 600px;
    background-color: rgb(106, 116, 121);
    position: absolute;
    top: 1200px;
  }
  .vb {
    position: absolute;
    top: 1400px;
    left: 100px;
    font-size: 3rem;
    font-weight: 600;
    color: white;
  }
  .boy {
    position: absolute;
    top: 1480px;
    left: 100px;
    width: 300px;
    height: 3px;
  }
  .mn {
    position: absolute;
    width: 600px;
    top: 1520px;
    left: 100px;
    font-size: 20px;
    font-weight: 700;
    color: white;
  }
  .qq {
    position: absolute;
    width: 450px;
    top: 1250px;
    left: 850px;
    border: solid 2px white;
  }
  .ee {
    position: absolute;
    width: 450px;
    top: 1525px;
    left: 850px;
    border: solid 2px white;
  }
  .bad {
    position: absolute;
    top: 1920px;
    left: 300px;
    font-size: 3.5rem;
    font-weight: 600;
    color: white;
  }
  .body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2000px;
    left: 300px;
    }
    .slider {
       width: 800px;
       height: 500px;
       border-radius: 10px;
       overflow: hidden;
    }
    .slides{
      width: 500%;
      height: 500px;
      display: flex;
    }
    .slides input{
      display: none;
    
    }
    .slide {
      width: 20%;
      transition: 2s;
    }
    .slide img{
      width: 800px;
      height: 500px;
    }
    /* manual slide navigation */
    .nav-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    }
    .manual-btn{
      border: 2px solid #48D3DC;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 1s;
    }
    .manual-btn:not(:last-child){
       margin-right: 40px;
    }
    .manual-btn:hover{
      background: rgb(50, 62, 70);
    }
    #radio1:checked ~ .first{
      margin-left: 0;
    }
    #radio2:checked ~ .first{
      margin-left: -40%;
    }
    #radio3:checked ~ .first{
      margin-left: -80%;
    }
    #radio4:checked ~ .first{
      margin-left: -120%;
    }
    #radio5:checked ~ .first{
      margin-left: -160%;
    }
    /* automatic nav */
    .nav-auto{
      position: absolute;
      display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
    }
    .nav-auto div{
      border: 2px solid #48D3DC;
      padding: 5px;
      border-radius: 10px;
      transition: 1s;
    }
    .nav-auto div:not(:last-child){
      margin-right: 40px;
    }
    #radio1:checked ~ .nav-auto .auto-btn1{
      background: #48D3DC;
    }
    #radio2:checked ~ .nav-auto .auto-btn2{
      background: #48D3DC;
    }
    #radio3:checked ~ .nav-auto .auto-btn3{
      background: #48D3DC;
    }
    #radio4:checked ~ .nav-auto .auto-btn4{
      background: #48D3DC;
    }
    #radio5:checked ~ .nav-auto .auto-btn5{
      background: #48D3DC;
    }
  
  /* subscribe form */
  .but {
    width: 100%;
    height: 300px;
    background-color: rgb(115, 119, 122);
    position: absolute;
    top: 2600px;
    text-align: center;
  }
  .but h1{
    color: white;
    font-weight: 700;
    font-size: 3rem;
    margin: 10px;
  }
  .email-input {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
  }
  form{
    margin-top: 10px;
    font-weight: 400;
    font-size: 1.5rem;
  }
  .submit-button {
    background-color: rgb(115, 119, 122);
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    border: 2px solid white;
    margin-top: 10px;
  }
  .submit-button:hover {
    background-color: white;
    cursor: pointer;
    color: rgb(115, 119, 122);
  }
  @media (max-width: 950px){
    .navbar :is(.icon-menu, .links .iconclose){
       display: block; 
    }
    .navbar{
        padding: 15px 0;
    }
    .navbar .logo h2{
        font-size: 1.4rem;
    }
    .navbar .links{
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        display: block;
        padding-top: 60px;
        text-align: center;
        background: gray;
        transition: 0.2s ease;
    }
    .navbar .links.show-menu{
        left: 0;
    }
    .navbar .links a{
        color: black;
        display: inline-flex;
        margin: 20px 0;
        font-size: 1.2rem;
    }
    .navbar .btnLogin-popup{
        font-size: 0.9rem;
        padding: 7px 10px;
    }
    
  }
  @media (max-width: 425px){
    .abt{
      width: 100%;
      m
    }
  }