* {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "Antonio", sans-serif;
    font-family: "Josefin Sans", sans-serif;
  }
  body {
    background-color: rgb(50, 62, 70);
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10px;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
  }
  
  .navbar {
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .navbar .icon-menu{
    display: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .navbar .logo{
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
  }
  .navbar .logo h2{
  color: white;
    font-size: 1.7rem;
    font-weight: 600;
  }
  .navbar .links{
    display: flex;
    list-style: none;
    gap: 35px;
  }
  .navbar .links .iconclose{
    display: none;
    color: black;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.5rem;
  }
  .navbar .links a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .navbar .links a:hover{
    color: aqua;
  }
  .navbar .btnLogin-popup{
  border: none;
  outline: none;
  color: #162938;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 3px;
  cursor: pointer;
  background: white;
  }
  .top{
    margin-top: 100px;
    text-align: center;
  }
  .top h2{
    font-weight: 600;
    font-size: 2.8rem;
    color: white;
  }
.offer{
    /* margin-top: 100px; */

}
.main1{
    display: flex;
}
.main2{
    display: flex;
}
.serv1{
    width: 40%;
    height: 400px;
    color: black;
    margin: 10px;
    text-align: center;
    background-image: url(./images/bag.jpg);
    background-size: contain;
}
.serv2{
    width: 40%;
    height: 400px;
    color: black;
    margin: 10px;
    text-align: center;
    background-image: url(./images/bag.jpg);
    background-size: contain;
}.serv3{
    width: 40%;
    height: 400px;
    color: black;
    margin: 10px;
    text-align: center;
    background-image: url(./images/bag.jpg);
    background-size: contain;
}.serv4{
    width: 40%;
    height: 400px;
    color: black;
    margin: 10px;
    text-align: center;
    background-image: url(./images/bag.jpg);
    background-size: contain;
}
.news{
    margin-top: 50px;
}
.news p{
    font-size: 3rem;
    font-weight: 600;
    color: white;
    text-align: center;
}








  @media (max-width: 950px){
    .navbar :is(.icon-menu, .links .iconclose){
       display: block; 
    }
    .navbar{
        padding: 15px 0;
    }
    .navbar .logo h2{
        font-size: 1.4rem;
    }
    .navbar .links{
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        display: block;
        padding-top: 60px;
        text-align: center;
        background: gray;
        transition: 0.2s ease;
    }
    .navbar .links.show-menu{
        left: 0;
    }
    .navbar .links a{
        color: black;
        display: inline-flex;
        margin: 20px 0;
        font-size: 1.2rem;
    }
    .navbar .btnLogin-popup{
        font-size: 0.9rem;
        padding: 7px 10px;
    }
    
  }
  @media (max-width:425px) {
    .main1{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .main2{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
  }